name: Linux Build

on:
  push:
    tags:
      - "v*"

jobs:
  build-linux:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Install Qt 6.10.1
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: 6.10.1
          target: desktop
          arch: gcc_64
          cache: true
          modules: qtquickcontrols2

      - name: Configure
        run: |
          cmake -S . -B build \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_PREFIX_PATH="${{ env.Qt6_DIR }}/.."

      - name: Build
        run: |
          cmake --build build --config Release

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: QtStateLab-linux
          path: build/appQtStateLab

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            build/appQtStateLab
            build/Release/*

